{{title}}

<router-outlet></router-outlet>
<p-table [value]="tableData">
    <ng-template pTemplate="header">
        <tr>
            <th>MessageID</th>
            <th>Message</th>
            <th>EmptyMessage</th>
            <th>MessageDate</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tblData>
        <tr>
            <td>{{tblData.MessageID}}</td>
            <td>{{tblData.Message}}</td>
            <td>{{tblData.EmptyMessage}}</td>
            <td>{{tblData.MessageDate}}</td>
        </tr>
    </ng-template>
</p-table>